<!DOCTYPE HTML>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title>EventosApp</title>
	</head>
	<body>
		<h1>Cadastro de Eventos</h1>
		<form method="post">
			<label>Nome:</label> 
			<input type="text" value="" name="nome"/><br />
			<label>Local:</label> 
			<input type="text" value="" name="local"/><br />
			<label>Data:</label> 
			<input type="date" value="" name="data"/><br />
			<label>Horario:</label> 
			<input type="text" value="" name="horario"/>
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>